<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
  <div class="About content">
    <h2>About us</h2>
    <p>hello world  hello worldhello world hello world hello world hello world</p>
    <p>hello world  hello worldhello world hello world hello world hello world</p>
    <p>hello world  hello worldhello world hello world hello world hello world</p>
  </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>